<table cellspacing="0" cellpadding="5" border="0" style="font-size: 18px;">
    <tbody>
        <tr>
            <th></th>
            <th colspan="5">তারিখ অনুযায়ী দেখুন</th>
            <th></th>
        </tr>

        <tr bgcolor="#f1f1f8">
            <td height="10">রবি</td>
            <td height="10">সোম</td>
            <td height="10">মঙ্গল</td>
            <td height="10">বুধ</td>
            <td height="10">বৃহঃ</td>
            <td height="10">শুক্র</td>
            <td height="10">শনি</td>
        </tr>

        <tr>
            <td height="5" align="center">১</td>
            <td height="5" align="center"><%= link_to "২", params.merge(:date => 2)  %></td>
            <td height="5" align="center"><%= link_to "৩", params.merge(:date => 3)  %></td>
            <td height="5" align="center"><%= link_to "৪", params.merge(:date => 4)  %></td>
            <td height="5" align="center"><%= link_to "৫", params.merge(:date => 5)  %></td>
            <td height="5" align="center"><%= link_to "৬", params.merge(:date => 6)  %></td>
            <td height="5" align="center"><%= link_to "৭", params.merge(:date => 7)  %></td>
        </tr>

        <tr>
            <td height="5" align="center"><%= link_to "৮", params.merge(:date => 8)  %></td>
            <td height="5" align="center"><%= link_to "৯", params.merge(:date => 9)  %></td>
            <td height="5" align="center"><%= link_to "১০", params.merge(:date => 10)  %></td>
            <td height="5" align="center"><%= link_to "১১", params.merge(:date => 11)  %></td>
            <td height="5" align="center"><%= link_to "১২", params.merge(:date => 12)  %></td>
            <td height="5" align="center"><%= link_to "১৩", params.merge(:date => 13)  %></td>
            <td height="5" align="center"><%= link_to "১৪", params.merge(:date => 14)  %></td>
        </tr>

        <tr>
            <td height="5" align="center"><%= link_to "১৫", params.merge(:date => 15)  %></td>
            <td height="5" align="center"><%= link_to "১৬", params.merge(:date => 16)  %></td>
            <td height="5" align="center">১৭</td>
            <td height="5" align="center">১৮</td>
            <td height="5" align="center">১৯</td>
            <td height="5" align="center">২০</td>
            <td height="5" align="center">২১</td>
        </tr>

        <tr>
            <td height="5" align="center">২২</td>
            <td height="5" align="center">২৩</td>
            <td height="5" align="center">২৪</td>
            <td height="5" align="center">২৫</td>
            <td height="5" align="center">২৬</td>
            <td height="5" align="center">২৭</td>
            <td height="5" align="center">২৮</td>
        </tr>
    </tbody>
</table>