<table cellspacing="5">
    <tbody>
      <tr>
        <td>
          <% form_tag "", :method => 'get', :style => 'margin-left:3%;' do %>
            <% content_tag :label do %>

              <%= text_field_tag :query, params[:query], :lang => "bangla" %>
              <%= hidden_field_tag(:date, params[:date]) unless params[:date].nil? %>

              <%= submit_tag " অনুসন্ধান" %>
            <% end %>
          <% end %>
          <br />
          <center>
            <%= link_to "উন্নত অনুসন্ধান", advanced_url %>
          </center>
        </td>
        <td>
          <%= render :partial => "calender" %>
        </td>
      </tr>
      <tr>
        <td>
          ফলাফল: <%= localize_numeric(@books.total_entries.to_s) %> টি
        </td>
        <td align="right">
          <%= link_to("remove date", params.except(:date)) unless params[:date].nil? %>
          <%= link_to("remove query", params.except(:query)) unless params[:query].nil? %>
        </td>
      </tr>
      <% @books.each do |book| %>
        <% if @is_search %>
        <tr><td colspan="2">
          <%= render :partial => "result_listing", :locals => {:book => book} %>
        </td></tr>
        <% else %>
          <tr><td colspan="2">
          <table class="listing">
            <tr>
              <td class="heading">বইয়ের নাম</td>
              <td>: <%= book.title %></td>
            </tr>
            <tr>
              <td class="heading">লেখক/অনুবাদক/সম্পাদক</td>
              <td>: <%= link_to(book.author_names, advanced_url(:author => book.author_names)) %></td>
            </tr>
            <tr>
              <td class="heading">বইয়ের ধরণ/বিষয়</td>
              <td>: <%= link_to(book.type_name, advanced_url(:topic => book.type_name)) %></td>
            </tr>
            <tr>
              <td class="heading">প্রকাশনা প্রতিষ্ঠান/প্রকাশক</td>
              <td>: <%= link_to(book.publisher_name, advanced_url(:publisher => book.publisher_name)) %></td>
            </tr>
            <tr>
              <td class="heading">প্রথম প্রকাশ</td>
              <td>: <%= book.prokashkal %></td>
            </tr>
            <tr>
              <td class="heading">বইমেলায় এসেছে</td>
              <td>: <%= link_to(localize_numeric(book.published_date.strftime("%d").to_i.to_s) + " ফেব্রুয়ারী", root_url(:date =>  book.published_date.strftime("%d").to_i)) %></td>
            </tr>
            <tr>
              <td class="heading">মূল্য</td>
              <td>: ৳ <%= localize_numeric(book.price.to_i.to_s) %></td>
            </tr>
          </table>
        </td></tr>
        <% end %>
      <% end %>
    </tbody>
</table>
<div style="text-align: center;">
  <%= will_paginate @books %>
</div>