<html>
  <head>
    <title>Books list of Ekushey Boimela 2009</title>
    <style type="text/css">
      table.listing {
        border: 1px solid black;
        width: 100%;
      }

      td.heading {
        width: 150px;
      }
    </style>
    <%= stylesheet_link_tag "layout.css" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "keyboard/bangla.js", "keyboard/bijoyunicode.js", "keyboard/jquery.domec.js", "keyboard/main.js", "keyboard/main_prototyped.js", "keyboard/phoneticunicode.js" %>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-7513913-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        KeyboardOptions.debug = function() {}
        KeyboardOptions.startBanglaSupport();
      });
    </script>
  </head>
  <body style="font-family:SolaimanLipi; font-size: 16px; width:550px;">
    <strong><%= link_to " অনুসন্ধান", root_url %></strong>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "উপন্যাস", advanced_url(:topic => "উপন্যাস") %>
    <%= link_to "কবিতা", advanced_url(:topic => "কবিতা") %>
    <%= link_to "প্রবন্ধ", advanced_url(:topic => "প্রবন্ধ") %>
    <%= link_to "নাটক", advanced_url(:topic => "নাটক") %>
    <%= link_to "শিশু ও কিশোর", advanced_url(:topic => "কিশোর") %>
    
    <%= yield %>
    কৃতজ্ঞতা: <a href="http://boi-mela.com">বইমেলা ডট কম</a>

  </body>
</html>